.tecnico-container {
  margin: 0;
}

.form-container {
  position: absolute;
  width: 90%;
  margin: 8rem 8rem auto 6rem;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 211, 210);
  border-radius: 1rem;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding: 4rem 0;
}

.full-width {
  width: 100%;
}

.primary, a {
  margin: 0 1rem;
}