<div class="tecnico-container">
  <app-header></app-header>
  <div class="form-container custom-box-shadow">
    <form [formGroup]="tecnicoForm" (ngSubmit)="onSubmit()" class="form">
      <h2>Cadastrar novo técnico</h2>
      
      <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" name="nome" matInput placeholder="Nome completo" type="text">
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input formControlName="cpf" name="cpf" matInput placeholder="xxx.xxx.xxx-xx" type="text" mask="000.000.000-00">
      </mat-form-field>
      
      <ng-container *ngIf="isAdmin">  
        <mat-form-field class="full-width">
          <mat-label>Perfil</mat-label>
          <mat-select [(ngModel)]="selectedPefil"
          [formControl]="perfilControl" multiple name="perfil"
          ><mat-option
          *ngFor="let perfil of perfis" [value]="perfil"
          >{{ perfil }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
      
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" name="email" matInput placeholder="Ex. email@provedor.com" type="email">
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" name="senha" matInput placeholder="Ex. 123abcABC!&_" type="password">
      </mat-form-field>

      <div class="container-submit">
        <button type="submit" [disabled]="tecnicoForm.invalid"  class="primary custom-box-shadow" mat-stroked-button>Criar</button>
        <a (click)="onCancel()" class="custom-box-shadow" mat-stroked-button routerLink="home">Cancelar</a>
      </div>
    </form>
  </div>
</div>