<div class="filter-container ">
  <h2>{{ 'titulo_lista_cliente' | translate }}</h2>
  <mat-form-field class="custom-box-shadow">
    <button type="button" (click)="onClearFilter()" [disabled]="!ableClearFilter()" class="clear"
      mat-stroked-button>{{ 'cliente_limpa' | translate }}</button>
    <mat-label>{{ 'cliente_filtro' | translate }}</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'placeholder_lista_cliente' | translate }}" #input>
  </mat-form-field>

  <div class="crud-cliente">
    <button type="button" (click)="onAdd()" class="primary custom-box-shadow"
      mat-stroked-button>{{ 'cliente_cria' | translate }}</button>

    <mat-button-toggle-group [disabled]="!isAdmin" [value]="currentEditMode" class="toggle-group"
      (change)="onEditMode($event)" multiple>
      <mat-button-toggle value="ROLE_ADMIN">{{ 'cliente_edita' | translate }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-cliente-list [dataSourceFiltered]="dataSourceFiltered | async"
    [editStatusChanged]="editStatusChanged"></app-cliente-list>
</div>