<mat-toolbar class="header-container custom-box-shadow">
  <button *ngIf="showButton" (click)="toggleDrawer()" mat-icon-button class="icon" aria-label="menu icon">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <div class="title">
    <h2>{{ 'crimpa_tarefas' | translate }}</h2>
  </div>
  <span class="spacer"></span>

  <div class="buttons-right">
    <mat-button-toggle-group [value]="currentLanguage" class="toggle-group" (change)="toggleLanguage($event)">
      <mat-button-toggle value="en">EN</mat-button-toggle>
      <mat-button-toggle value="pt">PT</mat-button-toggle>
    </mat-button-toggle-group>

    <button *ngIf="showButton" (click)="account()" mat-icon-button class="icon favorite-icon"
      aria-label="icon-button with heart icon">
      <ng-container *ngIf="hasImage(); else defaultIcon">
        <img [src]="getImageUrl()" alt="User Image" class="user-image">
      </ng-container>
      <ng-template #defaultIcon>
        <mat-icon fontIcon="account_circle"></mat-icon>
      </ng-template>
    </button>
  </div>
</mat-toolbar>