
  <mat-toolbar class="header-container custom-box-shadow">
    <button  *ngIf="showButton" (click)="drawer.toggle()" mat-icon-button class="icon" aria-label="menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="title">
      <span>Tasks processes</span>
    </div>
    <span class="spacer"></span>
    <button *ngIf="showButton" mat-icon-button class="icon favorite-icon" aria-label="icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button *ngIf="showButton" mat-icon-button class="icon" aria-label="icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>