<div class="filter-container ">
  <h2>Listagem de técnicos</h2>
  <mat-form-field class="custom-box-shadow">
    <button type="button" (click)="onClearFilter()" [disabled]="!ableClearFilter()" class="clear" mat-stroked-button>Limpar</button>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite um nome, número, perfil ou data" #input>
  </mat-form-field>

  <div class="crud-tecnico">
    <button type="button" (click)="onAdd()" class="primary custom-box-shadow" mat-stroked-button>Criar</button>
    <button type="button" (click)="onEdit()" class="primary custom-box-shadow" mat-stroked-button>Editar</button>
    <button type="button" (click)="onDelete()" class="primary custom-box-shadow" mat-stroked-button>Deletar</button>
  </div>
  
  <app-tecnico-list [dataSourceFiltered]="dataSourceFiltered | async"></app-tecnico-list>
</div>