@import '@angular/material/prebuilt-themes/azure-blue.css';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
